#RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.html
RewriteRule ^(.*)$ $1.htm
# Replace html with your file extension, eg: php, htm, asp
