body {
  font-family: 'Josefin Slab', serif;
}

/* ################## Page ################## */

.jumbotron:not(.modal-header) {
  background-color: #5cb85c;
  padding: 100px 25px;
}
.container-fluid {
  padding: 60px 50px;
}
.modal-header, #modal-h4, .close {
  background-color: #5cb85c;
  color: white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}
.bg-grey {
  background-color: #f6f6f6;
}
.bg-white {
  background-color: white;
}
.logo {
  font-size: 200px;
  color: #5cb85c;
}
.logo-small {
  font-size: 50px;
  color: #5cb85c;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 250px;
  height: 300px;
  margin-bottom: 10px;
}
.panel {
  border: 1px solid #5cb85c;
  border-radius: 0;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, .5);
}
.panel-footer .btn:hover {
  border: 1px solid #5cb85c;
  background-color: #fff !important;
  color: #5cb85c;
}
.panel-heading {
  color: #fff !important;
  background-color: #5cb85c !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: #fff !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #5cb85c;
  color: #fff;
}
.navbar {
  margin-bottom: 0;
  background-color: #5cb85c;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #5cb85c !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #5cb85c;
}

/*#lemoco:hover{
  font-size: 0;
}

#lemoco:hover:before{
  font-size: 20px;
  content: attr(data-hover);
} */
